*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.container .fast{
    width: 219px;
    height: 32px;
}
.container .last{
    display: none;
}
.container ul{
     display: flex;
     list-style: none;
     gap: 32px;
}
.container li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn{
 padding: 12px 16px;
 background-image: linear-gradient(to right,rgba(157, 255, 0, 0.918) ,rgba(247, 0, 255, 0.87),rgb(98, 0, 255));
 border-radius: 10000px;
 border: none;
 color: #FFFFFF;
 font-size: 1rem;
 font-weight: 600;
 cursor: pointer;
}
header hr{
    margin-top: 30px;
    opacity: 0.1;
}
.banner-section{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px; 
}
.img-box{
    position: relative;
    width: 350px;
    margin: auto;
}
.img-box .hero{
    width: 100%;
}
.img-box .zero{
    position: absolute;
    left: 115px;
    top: 100px;
}
.img-box .drup{
    background-color: #00ff88c2;
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    border-radius: 8px;
    width: 50px;
    height: 22px;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    box-shadow: 0px 0px 15px 0px #00FF88;
    animation: learning;
    animation-duration: 1s;
    transition: 1s;
    animation-delay:1s ;
    animation-iteration-count: infinite;
}
@keyframes learning {
     from{
        transform: scale(1);
     }
     to{
        transform: scale(1.5);
     }
}
.banner-container h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner-container p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.transprant-btn{
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    margin-bottom: 100px;
    cursor: pointer;
}
.pocdcast-container{
    max-width: 1200px;
    margin: 0 auto;
}
.pocdcast-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 16px;
}
.pocdcast-container .pocdcast-p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 80px;
    text-align: center;
}
.pocdcast-container hr{
    opacity: 0.1;
}
.card{
    display: flex;
   justify-content: space-between;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.card h1{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 16px;
}
.card p{
    font-size: 1rem;
    color: #FFFFFF;
}
.techwave-main-container{
    background-color: #4f3177;
}
.techwave-container{
    max-width: 1200px;
    margin: 0 auto;
}
.techwave-container h1{
    font-size: 3rrem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 120px;
}
.card-container .card-2{
     padding: 100px 40px;
     background-color: #48217a;
     border-radius: 40px;
}
.card-container .card-1{
     padding:  40px;
     background-color: #48217a;
     border-radius: 40px;
    }
.card-2>h4{
    margin: 16px auto;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-2>p{
    font-size: 1rem;
    color: #FFFFFF;
}
.card-1>h4{
    margin: 16px auto;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-1>p{
    font-size: 1rem;
    color: #FFFFFF;
}
.box-1{
    grid-row: span 2;
    grid-column: span 1;
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
}
.box-3{
    grid-column: span 2;
}
.box-4{
    grid-column: span 2;
}
.Featured-section{
    max-width: 1200px;
    margin: 0 auto;
}
.Featured-section h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}
.iframe-container{
    display: flex;
    gap: 30px;
    margin-bottom: 120px;
}
.iframe{
    background-color: #31105e44;
    border-radius: 20px;
}
.iframe iframe{
    width: 100%;
    border-radius: 20px;
}
.iframe h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.iframe>p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 12px;
    margin-left: 24px;
    margin-right: 24px;
}
.iframe small{
    color: #00FF88;
    vertical-align: middle;
}
.clock{
    color: #00FF88;
    display: flex;
    gap: 10px;
    padding: 24px;
    font-size: 1rem;
    font-weight: 600;
}
.host-container{
    max-width: 1200px;
    margin: 0 auto;
}
.host-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}
.flex-container{
    display: flex;
    gap: 24px;
    align-items: center;
    background-color: #430b8b31;
    border-radius: 20px;
    margin-bottom: 120px;
}
.flex-container img{
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.flex-container h3{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 48px;
}
.flex-container p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
}
.host-img-container img{
    border:1px solid gray;
    padding: 10px;
    border-radius: 50%;
     margin: auto;
     margin-right: 10px;
     cursor: pointer;
}
.footer-container{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 120px;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 40px;
    margin-bottom: 30px;
}
.icon-container .icon{
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
}
.copyright{
    font-size: 1rem;
    color: #fafafa7c;
}

@media screen and (max-width: 576px) {

.container{
    padding-top: 20px;
}
 .container ul {
    display: none;
}
.container .btn {
    display: none;
}
.container .last {
    display: inline;
    margin-right: 20px;
}
.banner-container p {
    margin-left: 20px;
    margin-right: 20px;
}
.banner-container {
    padding-top: 50px;
}
.banner-section {
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img-box {
width: 200px;
margin: auto;
top: 20px;
bottom: auto;

}
.img-box .zero {
    left: 60px;
    top: 40px;
    width: 80px;
}
.img-box .drup {
    top: 11px;
    right: 2px;
}
.transprant-btn {
    margin-bottom: 0px;
}
.pocdcast-container {
    padding: 20px;
}
.pocdcast-container h2 {
    margin-top: 40px;
}
.pocdcast-container .pocdcast-p {
    margin-bottom: 40px;
}
.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.techwave-container h1 {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    padding-bottom: 30px;
}
.card-container .card-2 {
    padding:  24px;
    margin: 20px;
}
.box-1 {
    grid-row: span 1;
}
.card-container .card-1 {
   padding: 24px;
   margin: 20px;
}
.Featured-section h2 {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}
.iframe-container {
   flex-direction: column;
   margin: 20px;
    gap: 16px;
    margin-bottom: 50px;
}
.flex-container img {
    margin: auto;
}
.flex-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin: 20px;
    padding: 24px;
}
.flex-container h3 {
    margin-top: 0px;
}
.host-container h2 {
    font-size: 2rem;
}
.footer-container {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    max-width:100%;
    height: 350px;
    background-size: 100% 100%;
    background-position:contain;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon-container {
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    padding: 40px;
    margin-top: 15px;
}
.copyright {
  padding: 20px;
}
}