*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.container .fast{
    width: 219px;
    height: 32px;
}
.container .last{
    display: none;
}
.container ul{
     display: flex;
     list-style: none;
     gap: 32px;
}
.container li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.container .btn{
 padding: 12px 16px;
 background-image: linear-gradient(to right,rgba(157, 255, 0, 0.918) ,rgba(247, 0, 255, 0.87),rgb(98, 0, 255));
 border-radius: 1000px;
 border: none;
 color: #FFFFFF;
 font-size: 1rem;
 font-weight: 600;
 cursor: pointer;
}






















@media screen and (max-width: 576px) {
body{
    padding: 0 10px;
}
    .container ul {
    display: none;
}
.container .btn {
    display: none;
}
.container .last {
    display: inline;
}
}