*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.container .fast{
    width: 219px;
    height: 32px;
}
.container .last{
    display: none;
}
.container ul{
     display: flex;
     list-style: none;
     gap: 32px;
}
.container li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
}
.btn{
 padding: 12px 16px;
 background-image: linear-gradient(to right,rgba(157, 255, 0, 0.918) ,rgba(247, 0, 255, 0.87),rgb(98, 0, 255));
 border-radius: 10000px;
 border: none;
 color: #FFFFFF;
 font-size: 1rem;
 font-weight: 600;
 cursor: pointer;
}
header hr{
    margin-top: 30px;
    opacity: 0.1;
}
.banner-section{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px; 
   
}
.img-box{
    position: relative;
    width: 350px;
    margin: auto;
}
.img-box .hero{
    width: 100%;
}
.img-box .zero{
    position: absolute;
    left: 115px;
    top: 100px;
}
.img-box .drup{
    background-color: #00ff88c2;
    color: #1A0B2E;
    font-size: 1.12rem;
    font-weight: 600;
    border-radius: 8px;
    width: 50px;
    height: 22px;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
}
.banner-container h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 8px;
}
.banner-container p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.transprant-btn{
    padding: 12px 20px;
    color: #00FF88;
    border: 1px solid #00FF88;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10000px;
    margin-bottom: 100px;
}
/* end */

.pocdcast-container{
    max-width: 1200px;
    margin: 0 auto;
}
.pocdcast-container h2{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 16px;
}
.pocdcast-container .pocdcast-p{
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 80px;
    text-align: center;
}
.pocdcast-container hr{
    opacity: 0.1;
}
.card{
    display: flex;
   justify-content: space-between;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
}
.card h1{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 16px;
}
.card p{
    font-size: 1rem;
    color: #FFFFFF;
}
.techwave-main-container{
    background-color: #4f3177;
}
.techwave-container{
    max-width: 1200px;
    margin: 0 auto;
}
.techwave-container h1{
    font-size: 3rrem;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding-bottom: 120px;
}
.card-container .card-2{
     padding: 100px 40px;
     background-color: #48217a;
     border-radius: 40px;
}
.card-container .card-1{
     padding:  40px;
     background-color: #48217a;
     border-radius: 40px;
    }
.card-2>h4{
    margin: 16px auto;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-2>p{
    font-size: 1rem;
    color: #FFFFFF;
}
.card-1>h4{
    margin: 16px auto;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
}
.card-1>p{
    font-size: 1rem;
    color: #FFFFFF;
}
.box-1{
    grid-row: span 2;
    grid-column: span 1;
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
}
.box-3{
    grid-column: span 2;
}
.box-4{
    grid-column: span 2;
}











@media screen and (max-width: 576px) {

.container{
    padding-top: 20px;
}
    .container ul {
    display: none;
}
.container .btn {
    display: none;
}
.container .last {
    display: inline;
}
.banner-container {
    padding-top: 50px;
}
.img-box {
width: 200px;
}
.img-box .zero {
    left: 60px;
    top: 40px;
    width: 80px;
}
.img-box .drup {
    top: 11px;
    right: 2px;
}



/* end */
.pocdcast-container {
    padding: 20px;
}
.pocdcast-container .pocdcast-p {
    margin-bottom: 40px;
}
.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.techwave-container h1 {
    padding-top: 50px;
}
.card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    padding-bottom: 50px;
}
.card-container .card-2 {
    padding:  24px;
}
.box-1 {
    grid-row: span 1;
}
.card-container .card-1 {
   padding: 24px;
}

}